/**
** this for first setup
***/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(".././fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */


html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #FFFFFF;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.current {
  color: #073C64 !important;
}

.navbar-sm {
  position: fixed;
  bottom: 0;
  top: 0;
  background: #fff;
  width: 40%;
  z-index: 2;
  display: none;
}

.popup-content {
  display: none;
  background: #fefefe;
  position: absolute;
  height: 35px;
  width: 65px;
  top: -20px;
  left: -35px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.popup-content ul {
  width: 100%;
  height: 20px;
  display: block;
  float: left;
}

.popup-content ul li {
  font-family: opensans-light;
  font-size: 13px;
  float: left;
}

.popup-content ul li:nth-child(1) {
  float: left;
}

.popup-content ul li.dImg img {
  width: 20px;
  height: 15px;
  margin-top: -3px !important;
  float: left;
}

.popup-content ul:nth-child(2) {
  margin-top: 3px;
}

.popup-content ul:hover {
  background: #0002;
}

.popup-active {
  display: block;
  margin-top: 30px;
  padding-top: 15px !important;
  padding-bottom: 15px;
  border-radius: 5px;
}

.popup-trigger img:hover.imgDropdown {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popup-trigger {
  display: block;
}

.menu-toggle {
  width: 31px;
  height: 21.07px;
  float: left;
  position: relative;
  display: none;
}

.menu-toggle .one,
.menu-toggle .two,
.menu-toggle .three {
  width: 100%;
  height: 4px;
  float: left;
  background: #000000;
}

.menu-toggle .two,
.menu-toggle .three {
  margin-top: 3px;
}

header {
  width: 100vw;
  height: 97px;
  background: #fff;

}

header .fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  -webkit-transition: .5s;
  transition: .5s;
}

header .social-media {
  width: 100%;
  height: 35px;
  background-color: #073C64;
  position: relative;
}

header .social-media .container {
  max-width: 1066px;
  margin: 0 auto;
}

header .social-media .container .left {
  float: left;
  width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

header .social-media .container .left .phone {
  width: 90px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .container .left .phone img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .phone span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px !important;
}

header .social-media .container .left .email {
  width: 159px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 15px;
}

header .social-media .container .left .email img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .email span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px;
}

header .social-media .right {
  float: right;
  width: unset;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .right .fb {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header .social-media .right .fb img {
  height: 100%;
}

header .social-media .right .twiter {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .twiter img {
  height: 100%;
}

header .social-media .right .ig {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .ig img {
  height: 100%;
}

header .social-media .right .linkedin {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 150px;
  cursor: pointer;
}

header .social-media .right .linkedin img {
  height: 100%;
}

header .navbar {
  width: 100%;
  height: 62px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: +2000;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

header .navbar .container {
  max-width: 1066px;
  margin: 0 auto;
}

header .navbar .container a {
  float: left;
  margin-left: 10px;
}

header .navbar .container a .logo {
  width: 120px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

header .navbar .container a .logo #logo-img {
  float: left;
  cursor: pointer;
  width: 23px !important;
  height: 25px !important;
}

header .navbar .container a .logo #logo-img .logo #logo-img img {
  width: 23px !important;
  height: 25px !important;
}

 header .navbar .container a .logo #logo-text {
    float: left;
    margin-left: 5px;
    width: unset;
    height: unset;
    cursor: pointer;
    margin-top: 3px;
  }

  header .navbar .container a .logo #logo-text  span {
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    color: #073C64;
    float: left;
    width: unset;
    height: unset;
    font-size: 18px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }

header .navbar .container .menu-bar {
  width: 500px;
  height: 20px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  margin-left: 235px;
  position: absolute;
  margin-top: 20px;
}

header .navbar .container .menu-bar ul {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-top: 3px;
  margin-bottom: 0;
}

header .navbar .container .menu-bar ul li {
  list-style: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  color: #0A0A0A;
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
}

header .navbar .container .menu-bar ul li:nth-child(1) {
  width: 51px;
  height: 20px;
}

header .navbar .container .menu-bar ul li:nth-child(1) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(1) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) {
  width: 51px;
  height: 20px;
  margin-left: 39px;
}

header .navbar .container .menu-bar ul li:nth-child(2) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) {
  width: 35px;
  height: 20px;
  margin-left: 39px;
}

header .navbar .container .menu-bar ul li:nth-child(3) a {
  text-decoration: none !important;
  color:#0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) {
  width: 36px;
  height: 20px;
  margin-left: 39px;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a {
  text-decoration: none !important;
  color:#0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(4) {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) {
  width: 130px;
  height: 20px;
  margin-left: 39px;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(5) {
  width: 130px;
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .search {
  width: 225px;
  height: 40.42px;
  margin-top: 13px;
  float: left;
  margin-left: 580px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .navbar .container .search input {
  width: 200px;
  height: 32px;
  float: left;
  outline: none;
  border: none;
  padding-left: 6px;
  -webkit-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  padding-top: 2px;
}

header .navbar .container .search input:hover {
  background: rgba(255, 255, 255, 0.5);
  padding-left: 6px;
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
}

header .navbar .container .search img {
  float: left;
  width: 40.42px;
  height: 40px;
}

header .navbar .container .leanguage {
  width: 43px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 23px;
}

header .navbar .container .leanguage ul {
  float: left;
}

header .navbar .container .leanguage ul li {
  list-style: none;
}

header .navbar .container .leanguage ul li:nth-child(1) {
  width: 25px;
  height: 20px;
  float: left;
}

header .navbar .container .leanguage ul li:nth-child(2) {
  width: 7px;
  height: 7px;
  padding-top: 6px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
}

header .navbar .container .leanguage ul li:nth-child(2) img {
  margin-left: 10.3px !important;
}

header .navbar .container .logOrRegist {
  width: 76px;
  height: 28px;
  float: right;
  margin-top: 17px;
  margin-bottom: 17px;
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .container .logOrRegist .btn-login {
  width: 76px;
  height: 28px;
  background-color: #073C64;
  font-family: OpenSans-Regular;
  float: left;
  margin-left: 10px;
}

header .navbar .container .logOrRegist .btn-login a {
  font-size: 12px;
  color: #FDD34C;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  padding: 5px;
  margin-left: 15px;
}

header .navbar .container .logOrRegist .btn-login:hover {
  opacity: .9;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .container .logOrRegist .btn-login:hover a:hover {
  -webkit-transition: .3s;
  transition: .3s ease;
}
.inspiration {
  width: 100vw;
  height: 1000px;
  background: #FFFFFF;
}

.inspiration .container {
  max-width: 1066px;
  margin: 0 auto;
}

.inspiration .container .inspirate {
  width: 100%;
  height: 800px;
  float: left;
  margin-top: 30px;
}

.inspiration .container .inspirate span {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #073C64;
}

.inspiration .container .inspirate .line {
  width: 80px;
  height: 3px;
  background: #FDD34C;
}

.inspiration .container .inspirate .content-left {
  width: 740px;
  height: 720px;
  float: left;
  background: #FFFFFF;
  margin-top: 15px;
}

.inspiration .container .inspirate .content-left .inspirate1,
.inspiration .container .inspirate .content-left .inspirate2,
.inspiration .container .inspirate .content-left .inspirate3,
.inspiration .container .inspirate .content-left .inspirate4 {
  width: 100%;
  height: 150px;
  float: left;
  border: 2px solid rgba(210,208,208,0.5);
}

.inspiration .container .inspirate .content-left .inspirate2,
.inspiration .container .inspirate .content-left .inspirate3,
.inspiration .container .inspirate .content-left .inspirate4 {
  margin-top: 42px;
}

.inspirate .content-left .inspirate1 .profil,
.inspirate .content-left .inspirate2 .profil,
.inspirate .content-left .inspirate3 .profil,
.inspirate .content-left .inspirate4 .profil {
  width: 100%;
  height: 57px;
  float: left;
  margin-top: 20px;
}

.inspirate .content-left .inspirate1 .profil img,
.inspirate .content-left .inspirate2 .profil img,
.inspirate .content-left .inspirate3 .profil img,
.inspirate .content-left .inspirate4 .profil img {
  width: 57px;
  height: 57px;
  float: left;
  margin-left: 15px;
}

.inspirate .content-left .inspirate1 .profil p,
.inspirate .content-left .inspirate2 .profil p,
.inspirate .content-left .inspirate3 .profil p,
.inspirate .content-left .inspirate4 .profil p {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #2A2A2B;
  margin-left: 23px;
  float: left;
}

.inspirate .content-left .inspirate1 .profil span,
.inspirate .content-left .inspirate2 .profil span,
.inspirate .content-left .inspirate3 .profil span,
.inspirate .content-left .inspirate4 .profil span {
  font-family: Montserrat-Regular;
  font-size: 18px;
  float: left;
  margin-left: 23px;
  margin-top: 10px;
  width: 600px;
  height: unset;
}

.inspirate .content-left .inspirate1 .profil span a,
.inspirate .content-left .inspirate2 .profil span a,
.inspirate .content-left .inspirate3 .profil span a,
.inspirate .content-left .inspirate4 .profil span a {
  text-decoration: none;
   color: #2A2A2B;
  transition: .3s ease;
}

.inspirate .content-left .inspirate1 .profil span a:hover,
.inspirate .content-left .inspirate2 .profil span a:hover,
.inspirate .content-left .inspirate3 .profil span a:hover,
.inspirate .content-left .inspirate4 .profil span a:hover {
  opacity: .7;
  transition: .3s ease;
}

.inspirate .content-left .inspirate1 .col-bottom,
.inspirate .content-left .inspirate2 .col-bottom,
.inspirate .content-left .inspirate3 .col-bottom,
.inspirate .content-left .inspirate4 .col-bottom {
  float: left;
  width: 500px;
  height: 16px;
  margin-left: 98px;
  margin-top: 30px;`
}

.wrapper-comm {
  display: none;
  transition: 1s ease;
}
.popup-comment {
  width: 87%;
  height: 60px;
  background: transparent;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 50px;
  transition: 1s ease;
  margin-left: 96px;
  border: 2px solid rgba(210,208,208,0.5);
}

.popup-comment .profilc {
  float: left; 
  width: unset;
  height: 40px;
}
.popup-comment .profilc img {
  width: 40px;
  height: 40px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; 
}
.popup-comment .profilc h5 {
  font-family: OpenSans-Regular;
  font-size: 12px;
  padding-top: 5px;
  margin-left: 25px;
  display: block;

}
.popup-comment .profilc input {
  display: flex;
  width: 500px;
  margin-top: 5px;
  margin-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  font-family: Montserrat-Regular;
  font-size: 12px;
}
.popup-comment .kirim {
  width: unset;
  height: unset;
  margin-top: 20px;
  float: right;
  position: relative;
}
.popup-comment .kirim a {
  text-decoration: none;
  color: #ffffff;
  background: #073C64;;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: OpenSans-Regular;
  font-size: 12px;
}
.inspirate .content-left .inspirate1 .col-bottom .comment,
.inspirate .content-left .inspirate1 .col-bottom .react,
.inspirate .content-left .inspirate1 .col-bottom .views,
.inspirate .content-left .inspirate2 .col-bottom .comment,
.inspirate .content-left .inspirate2 .col-bottom .react,
.inspirate .content-left .inspirate2 .col-bottom .views,
.inspirate .content-left .inspirate3 .col-bottom .comment,
.inspirate .content-left .inspirate3 .col-bottom .react,
.inspirate .content-left .inspirate3 .col-bottom .views,
.inspirate .content-left .inspirate4 .col-bottom .comment,
.inspirate .content-left .inspirate4 .col-bottom .react,
.inspirate .content-left .inspirate4 .col-bottom .views  {
  /*width: 95px;*/
  height: 16px;
  float: left;
  cursor: pointer;
}

.inspirate .content-left .inspirate1 .col-bottom .react,
.inspirate .content-left .inspirate1 .col-bottom .views,
.inspirate .content-left .inspirate2 .col-bottom .react,
.inspirate .content-left .inspirate2 .col-bottom .views,
.inspirate .content-left .inspirate3 .col-bottom .react,
.inspirate .content-left .inspirate3 .col-bottom .views,
.inspirate .content-left .inspirate4 .col-bottom .react,
.inspirate .content-left .inspirate4 .col-bottom .views {
  margin-left: 30px;
}

.inspirate .content-left .inspirate1 .col-bottom svg,
.inspirate .content-left .inspirate2 .col-bottom svg,
.inspirate .content-left .inspirate3 .col-bottom svg,
.inspirate .content-left .inspirate4 .col-bottom svg  {
  width: 16px;
  height: 16px;
  float: left;
}

.inspirate .content-left .inspirate1 .col-bottom span, 
.inspirate .content-left .inspirate2 .col-bottom span,
.inspirate .content-left .inspirate3 .col-bottom span, 
.inspirate .content-left .inspirate4 .col-bottom span {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #077777;
  margin-left: 5px;
  float: left;
}

svg.love path {
  fill: #000000;
}
.inspiration .container .inspirate .content-right {
  width: 260px;
  height: 400px;
  float: right;
  margin-top: 15px;
}

.inspiration .container .inspirate .content-right a {
  text-decoration: none;
}

.inspiration .container .inspirate .content-right .btn {
  text-align: center;
    width: 260px;
  height: 42px;
  float: left;
  background: #073C64;
}
.inspiration .container .inspirate .content-right .btn a{
  padding-top: 13px;
}

.inspiration .container .inspirate .content-right .btn  p {}
.inspiration .container .inspirate .content-right .btn a {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #FFFFFF;
}

.inspiration .container .inspirate .content-right .dll {
  width: 260px;
  height: 115px;
  float: left;
  background: #FFFFFF;
  margin-top: 40px;
  box-sizing: border-box;
  border: 3px solid rgba(210,208,208,0.5);
}

.inspiration .container .inspirate .content-right .dll .post,
.inspiration .container .inspirate .content-right .dll .foll {
  width: 100%;
  height: 23px;
  float: left;
  padding-top: 20px;
  
}

.lines {
  width: 100%;
  height: 1px;
  background: #EBE8E8;
  float: left;
  margin-top: 10px;
}

.inspiration .container .inspirate .content-right .dll .post img,
.inspiration .container .inspirate .content-right .dll .foll img {
  width: 25px;
  height: 23px;
  float: left;
  padding-left: 15px;
}

.inspiration .container .inspirate .content-right .dll .post p,
.inspiration .container .inspirate .content-right .dll .foll p {
  font-family: Montserrat-Regular;
  font-size: 12px;
  float: left;
  padding-top: 3px;
  margin-left: 7px;
}

.inspiration .container .inspirate .content-right .dll .post p a,
.inspiration .container .inspirate .content-right .dll .foll p a {
  text-decoration: none;
  color: #000000;
}

.inspiration .container .inspirate .content-right .dll .foll img {
  
}
img.lazy {
  display: block;
  background-image: url("../images/loader.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 30px;
  height: 30px;
}
.image-millens {
  margin: 0;
  border: 0;
}

footer {
  width: 100vw;
  height: 213px;
  background: #073C64;
  position: relative;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

footer .container-two {
  max-width: 1066px;
  margin: 0 auto;
}

footer .container-two .copyright {
  width: 300px;
  height: 140px;
  float: left;
}

footer .container-two .copyright .logo-footer {
  width: 100%;
  height: 26px;
}
footer .container-two .copyright .logo-footer img {
  float: left;
}

footer .container-two .copyright .logo-footer span {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 5px;
  padding-top: 3px;
  float: left;
}

footer .container-two .copyright .c-bottom p {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #DEDEDE;
  padding-top: 10px;
  width: unset;
  height: 100px;
}

footer .container-two .copyright .c-bottom span {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 40px;
  width: unset;
  height: unset;
}

footer .container-two .footer-menu {
  width: 1066px;
  height: 135px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
}

footer .container-two .footer-menu .menu {
  width: 107px;
  height: 111px;
  float: left !important;
  padding-left: 30px;
}

footer .container-two .footer-menu .menu li {
  color: #FFFFFF;
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .menu li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .menu li.span-footer {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .menu li.span-footer a {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  text-decoration: none;
}

footer .container-two .footer-menu .menu li.span-footer:nth-child(1) {
  padding-top: 5px;
}

footer .container-two .footer-menu .contact {
  width: 107px;
  height: 111px;
  float: left;
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

footer .container-two .footer-menu .contact li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .contact li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .contact li:nth-child(2),
footer .container-two .footer-menu .contact li:nth-child(3) {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .followers {
  width: 70px;
  height: 30px;
  float: left;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

footer .container-two .footer-menu .followers li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .followers li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .followers li:nth-child(2),
footer .container-two .footer-menu .followers li:nth-child(3),
footer .container-two .footer-menu .followers li:nth-child(4) {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .notive {
  width: 298px;
  height: 120px;
  float: right;
}

footer .container-two .footer-menu .notive li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .notive li:nth-child(1) {
  font-size: 15px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) {
  width: 297px;
  height: 44px;
  margin-top: 9.6px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

footer .container-two .footer-menu .notive li:nth-child(2) input {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 11px;
  padding-right: 115px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #CECECE;
  outline: none;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-ms-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive .btn-notive {
  width: 87px;
  height: 30px;
  background: #056D8B;
  margin-top: 12px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 1s;
  transition: 1s;
}

footer .container-two .footer-menu .notive .btn-notive span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: absolute;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

footer .container-two .footer-menu .notive .btn-notive span a {
  font-family: OpenSans-Semibold;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.wrapper-comm.aktif{
  top: 0;
  transition: 1s ease;
  display: block;

}

.navbar-responsive.actived{
  right: 0;
  transition: .3s ease;
  display: none;

}

.navbar-responsive{
  position: fixed;
  width: 70%;
  transition: .3s ease;
  right: -100%;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: #ffffff;
  box-sizing: border-box; 
  color: #ffffff;
  display: none;
}
section {
  display: none;
}
.ims {
  display: none;
}

.btn-register-xs {
  display: none;
}