/**
** this for first setup
**/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */
:root {
  --primary: #5CAAF4;
  --color-text-berita: #070707;
  --line-and-side: #FDD34C;
  --text-banner: #FFFFFF;
  --buton: #073C64;
  --footer: #073C64;
  --bg-detail-berita-and-forum: #8E8E8E (9%);
  --color-menu-bar: #0A0A0A;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background: #FFFFFF;
}

a {
  display: inline-block;
}

.status {
  width: 100vw;
  height: 1375px !important;
  float: left;
}

.status .container {
  max-width: 1066px;
  margin: 0 auto;
}

.status .container .colStatus {
  width: 100%;
  height: 195px;
  float: left;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 65px;
  -webkit-box-shadow: 0px 0px 6px -3.7px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 6px -3.7px rgba(0, 0, 0, 0.6);
  border-radius: 1.5px;
}

.status .container .colStatus .inputStatus {
  width: 1000px;
  height: 75px;
  float: left;
}

.status .container .colStatus .inputStatus input {
  width: 990px;
  height: 75px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #070707 !important;
  border: none;
  margin-top: 20px;
  padding-left: 46px;
  margin-right: 46px;
  background: transparent;
  outline: none;
}

.status .container .colStatus .inputStatus input::-webkit-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

.status .container .colStatus .inputStatus input::-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

.status .container .colStatus .inputStatus input:-ms-input-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

.status .container .colStatus .inputStatus input:-moz-placeholder::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

.status .container .colStatus .send {
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 50px;
}

.status .container .colStatus .send .checkbox {
  width: 40px;
  height: 16px;
  float: left;
  display: block;
  margin-left: 46px;
  margin-top: 22px;
}

.status .container .colStatus .send .checkbox div {
  width: 15px !important;
  height: 16px;
  outline: none;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border: 1px solid #707070;
}

.status .container .colStatus .send .checkbox div:nth-child(2) {
  width: 15px !important;
  height: 16px;
  outline: none;
  float: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.status .container .colStatus .send a.submit {
  width: 128px;
  height: 40px;
  background: #073C64;
  float: right;
  margin-right: 79px;
  display: block;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  font-family: Montserrat-Regular;
  font-size: 14px;
}

.status .container .colStatus .send a.submit span {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
}

.status .container .topStatus {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  float: left;
  border-bottom: 0.4px solid rgba(100, 100, 100, 0.99);
  margin-top: 89px;
}

.status .container .topStatus a {
  text-decoration: none;
  color: #0A0A0A;
  font-family: Roboto-Thin;
  font-size: 15px;
  margin-left: 46px;
  font-weight: 900;
  margin-top: 5px;
}

.status .container .statusOne {
  width: 946px;
  height: 300px;
  float: left;
  background: #FFFFFF;
  margin-left: 46px;
  margin-top: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 3px -3.7px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px -3.7px rgba(0, 0, 0, 0.6);
}

.status .container .statusOne .top {
  width: 100%;
  height: 90px;
  float: left;
}

.status .container .statusOne .top img {
  width: 90px;
  height: 90px;
  float: left;
}

.status .container .statusOne .top .id {
  width: 80%;
  height: 54px;
  float: left;
  display: block;
}

.status .container .statusOne .top .id span {
  margin-left: 33px;
}

.status .container .statusOne .top .id span:nth-child(1) {
  font-family: Roboto-Bold;
  font-size: 18px;
  display: block;
  margin-top: 20px;
}

.status .container .statusOne .top .id span:nth-child(2) {
  font-family: Roboto-Thin;
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
}

.status .container .statusOne .bottom {
  width: 825px;
  height: 142px;
  float: left;
  margin-left: 120px;
}

.status .container .statusOne .bottom p {
  font-family: Roboto-Thin;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
  font-weight: 600;
}

.status .container .statusOne .react {
  width: 946px;
  height: 35px;
  float: left;
  margin-left: 120px;
}

.status .container .statusOne .react img {
  width: 32px;
  height: 31px;
  float: left;
}

.status .container .statusOne .line {
  width: 100%;
  height: 4px;
  float: left;
  margin-top: 24px;
  border-bottom: 0.4px solid rgba(100, 100, 100, 0.99);
}

.status .container .statusTwo {
  width: 947px;
  height: 500px;
  float: left;
  background: #FFFFFF;
  margin-left: 46px;
  margin-top: 24px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 3px -3.7px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px -3.7px rgba(0, 0, 0, 0.6);
}

.status .container .statusTwo .top {
  width: 100%;
  height: 90px;
  float: left;
}

.status .container .statusTwo .top img {
  width: 90px;
  height: 90px;
  float: left;
}

.status .container .statusTwo .top .id {
  width: 80%;
  height: 54px;
  float: left;
  display: block;
}

.status .container .statusTwo .top .id span {
  margin-left: 33px;
}

.status .container .statusTwo .top .id span:nth-child(1) {
  font-family: Roboto-Bold;
  font-size: 18px;
  display: block;
  margin-top: 20px;
}

.status .container .statusTwo .top .id span:nth-child(2) {
  font-family: Roboto-Thin;
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
}

.status .container .statusTwo .bottom {
  width: 825px;
  height: 308px;
  float: left;
  margin-left: 120px;
}

.status .container .statusTwo .bottom .left {
  width: 384px;
  height: 295px;
  float: left;
}

.status .container .statusTwo .bottom .left img {
  float: left;
}

.status .container .statusTwo .bottom .right {
  width: 405px;
  height: 295px;
  float: right;
}

.status .container .statusTwo .bottom .right p {
  font-family: Roboto-Thin;
  font-size: 16px;
  text-align: left;
  line-height: 30px;
  font-weight: 600;
}

.status .container .statusTwo .bottom .react {
  width: 946px;
  height: 35px;
  float: left;
  margin-top: 53px;
}

.status .container .statusTwo .bottom .react img {
  width: 32px;
  height: 31px;
  float: left;
}

.status .container .line {
  width: 100%;
  height: 4px;
  float: left;
  border-bottom: 0.4px solid rgba(100, 100, 100, 0.99);
}
