/**
** this for first setup
***/
* {
  margin: 0;
  padding: 0;
}

/**
** setup fonts
**/
/** 
** raleway
**/
/*open sans */
@font-face {
  font-family: OpenSans-Bold;
  src: url(".././fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(".././fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans-light;
  src: url(".././fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url(".././fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(".././fonts/OpenSans-SemiBold.ttf");
}

/**
**/
/*montserrat */
@font-face {
  font-family: Montserrat-Bold;
  src: url(".././fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(".././fonts/Montserrat-Regular.ttf");
}

/*roboto*/
@font-face {
  font-family: Roboto-Medium;
  src: url(".././fonts/Roboto-Medium_0.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(".././fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url(".././fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(".././fonts/Roboto-Bold.ttf");
}

/**


/**
** this for setup variable
**/
/* change option color */


html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #FFFFFF;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.current {
  color: #073C64 !important;
}

.navbar-sm {
  position: fixed;
  bottom: 0;
  top: 0;
  background: #fff;
  width: 40%;
  z-index: 2;
  display: none;
}

.popup-content {
  display: none;
  background: #fefefe;
  position: absolute;
  height: 35px;
  width: 65px;
  top: -20px;
  left: -35px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.popup-content ul {
  width: 100%;
  height: 20px;
  display: block;
  float: left;
}

.popup-content ul li {
  font-family: opensans-light;
  font-size: 13px;
  float: left;
}

.popup-content ul li:nth-child(1) {
  float: left;
}

.popup-content ul li.dImg img {
  width: 20px;
  height: 15px;
  margin-top: -3px !important;
  float: left;
}

.popup-content ul:nth-child(2) {
  margin-top: 3px;
}

.popup-content ul:hover {
  background: #0002;
}

.popup-active {
  display: block;
  margin-top: 30px;
  padding-top: 15px !important;
  padding-bottom: 15px;
  border-radius: 5px;
}

.popup-trigger img:hover.imgDropdown {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popup-trigger {
  display: block;
}

.menu-toggle {
  width: 31px;
  height: 21.07px;
  float: left;
  position: relative;
  display: none;
}

.menu-toggle .one,
.menu-toggle .two,
.menu-toggle .three {
  width: 100%;
  height: 4px;
  float: left;
  background: #000000;
}

.menu-toggle .two,
.menu-toggle .three {
  margin-top: 3px;
}

header {
  width: 100vw;
  height: 97px;
  background: #fff;

}

header .fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  -webkit-transition: .5s;
  transition: .5s;
}

header .social-media {
  width: 100%;
  height: 35px;
  background-color: #073C64;
  position: relative;
}

header .social-media .container {
  max-width: 1066px;
  margin: 0 auto;
}

header .social-media .container .left {
  float: left;
  width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

header .social-media .container .left .phone {
  width: 90px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .container .left .phone img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .phone span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px !important;
}

header .social-media .container .left .email {
  width: 159px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 15px;
}

header .social-media .container .left .email img {
  width: 20px;
  height: 20px;
}

header .social-media .container .left .email span {
  font-size: 12px;
  font-family: OpenSans-Regular;
  color: #FFFFFF;
  padding-left: 5px;
  padding-top: 2px;
}

header .social-media .right {
  float: right;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .social-media .right .fb {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

header .social-media .right .fb img {
  height: 100%;
}

header .social-media .right .twiter {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .twiter img {
  height: 100%;
}

header .social-media .right .ig {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}

header .social-media .right .ig img {
  height: 100%;
}

header .social-media .right .linkedin {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 150px;
  cursor: pointer;
}

header .social-media .right .linkedin img {
  height: 100%;
}

header .navbar {
  width: 100%;
  height: 62px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: +2000;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

header .navbar .container {
  max-width: 1066px;
  margin: 0 auto;
}

header .navbar .container a {
  float: left;
  margin-left: 10px;
}

header .navbar .container a .logo {
  width: 120px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

header .navbar .container a .logo #logo-img {
  float: left;
  cursor: pointer;
  width: 23px !important;
  height: 25px !important;
}

header .navbar .container a .logo #logo-img .logo #logo-img img {
  width: 23px !important;
  height: 25px !important;
}

 header .navbar .container a .logo #logo-text {
    float: left;
    margin-left: 5px;
    width: unset;
    height: unset;
    cursor: pointer;
    margin-top: 3px;
  }

  header .navbar .container a .logo #logo-text  span {
    font-family: Montserrat-Regular;
    text-transform: uppercase;
    color: #073C64;
    float: left;
    width: unset;
    height: unset;
    font-size: 18px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }

header .navbar .container .menu-bar {
  width: 500px;
  height: 20px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  margin-left: 235px;
  position: absolute;
  margin-top: 20px;
}

header .navbar .container .menu-bar ul {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-top: 3px;
  margin-bottom: 0;
}

header .navbar .container .menu-bar ul li {
  list-style: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  color: #0A0A0A;
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
}

header .navbar .container .menu-bar ul li:nth-child(1) {
  width: 51px;
  height: 20px;
}

header .navbar .container .menu-bar ul li:nth-child(1) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(1) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) {
  width: 51px;
  height: 20px;
  margin-left: 39px;
}

header .navbar .container .menu-bar ul li:nth-child(2) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(2) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) {
  width: 35px;
  height: 20px;
  margin-left: 39px;
}

header .navbar .container .menu-bar ul li:nth-child(3) a {
  text-decoration: none !important;
  color:#0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(3) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) {
  width: 36px;
  height: 20px;
  margin-left: 39px;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a {
  text-decoration: none !important;
  color:#0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(4) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(4) {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) {
  width: 130px;
  height: 20px;
  margin-left: 39px;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a {
  text-decoration: none !important;
  color: #0A0A0A;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:nth-child(5) a:hover {
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .menu-bar ul li:hover:nth-child(5) {
  width: 130px;
  color: #073C64;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .container .search {
  width: 225px;
  height: 40.42px;
  margin-top: 13px;
  float: left;
  margin-left: 580px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

header .navbar .container .search input {
  width: 200px;
  height: 32px;
  float: left;
  outline: none;
  border: none;
  padding-left: 6px;
  -webkit-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  padding-top: 2px;
}

header .navbar .container .search input:hover {
  background: rgba(255, 255, 255, 0.5);
  padding-left: 6px;
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
}

header .navbar .container .search img {
  float: left;
  width: 40.42px;
  height: 40px;
}

header .navbar .container .leanguage {
  width: 43px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-top: 23px;
}

header .navbar .container .leanguage ul {
  float: left;
}

header .navbar .container .leanguage ul li {
  list-style: none;
}

header .navbar .container .leanguage ul li:nth-child(1) {
  width: 25px;
  height: 20px;
  float: left;
}

header .navbar .container .leanguage ul li:nth-child(2) {
  width: 7px;
  height: 7px;
  padding-top: 6px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: relative;
}

header .navbar .container .leanguage ul li:nth-child(2) img {
  margin-left: 10.3px !important;
}

header .navbar .container .logOrRegist {
  width: 76px;
  height: 28px;
  float: right;
  margin-top: 17px;
  margin-bottom: 17px;
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .container .logOrRegist .btn-login {
  width: 76px;
  height: 28px;
  background-color: #073C64;
  font-family: OpenSans-Regular;
  float: left;
  margin-left: 10px;
}

header .navbar .container .logOrRegist .btn-login a {
  font-size: 12px;
  color: #FDD34C;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
  padding: 5px;
  margin-left: 15px;
}

header .navbar .container .logOrRegist .btn-login:hover {
  opacity: .9;
  -webkit-transition: .75s;
  transition: .75s;
}

header .navbar .container .logOrRegist .btn-login:hover a:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
}

.works {
  width: 100vw;
  height: 4500px;
  background: #FFFFFF;
  float: left;
}

.works .container {
  max-width: 1066px;
  margin: 0 auto;
}

.works .container .work {
  width: 100%;
  height: 750px;
  float: left;
  margin-top: 40px;
}

.works .container .work span {
  width: 650px;
  height: 33px;
  font-family: Montserrat-Regular;
  font-size: 27px;
  float: left;
  color: #070707;
}

.works .container .work .img {
  width: 100%;
  height: 745px;
  float: left;
  margin-top: 10px;
}

.works .container .work .img img {
  width: 100%;
  height: 466px;
  -o-object-fit: center;
  object-fit: center;
}

.works .container .work .img .desc {
  width: 100%;
  height: 160px;
  float: left;
  margin-top: 10px;
}

.works .container .work .img .desc .f-one,
.works .container .work .img .desc .f-two,
.works .container .work .img .desc .f-three {
  width: 100%;
  height: 46px;
  float: left;
}

.works .container .work .img .desc .f-one p,
.works .container .work .img .desc .f-two p,
.works .container .work .img .desc .f-three p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  color: #000000;
}

.works .container .work .img .desc .f-two,
.works .container .work .img .desc .f-three {
  margin-top: 10px;
}

.works .container .work-one {
  width: 100%;
  height: 640px;
  float: left;
  margin-top: 20px;
}

.works .container .work-one span {
  width: 100%;
  height: 30px;
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
}

.works .container .work-one span a {
  text-decoration: none;
  color: #000000;
}

.works .container .work-one img {
  width: 630px;
  height: 408px;
  padding-left: 218px;
  padding-right: 218px;
  margin-top: 20px;
}

.works .container .work-one .desc-one {
  width: 100%;
  height: 161px;
  float: left;
}

.works .container .work-one .desc-one p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .work-one .desc-one p.p2 {
  margin-top: 15px !important;
}

.works .container .work-one .desc-one p:first-letter {
  margin-left: 20px;
}

.works .container .work-two {
  width: 100%;
  height: 662px;
  float: left;
  margin-top: 25px;
}

.works .container .work-two span {
  width: 100%;
  height: 30px;
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
}

.works .container .work-two span a {
  text-decoration: none;
  color: #000000;
}

.works .container .work-two img {
  width: 630px;
  height: 408px;
  padding-left: 218px;
  padding-right: 218px;
  margin-top: 20px;
}

.works .container .work-two .desc-two {
  width: 100%;
  height: 185px;
  float: left;
}

.works .container .work-two .desc-two p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .work-two .desc-two p.p2,
.works .container .work-two .desc-two p.p3 {
  margin-top: 15px !important;
}

.works .container .work-two .desc-two p.p2:first-letter,
.works .container .work-two .desc-two p.p3:first-letter {
  margin-left: 20px;
}

.works .container .work-three {
  width: 100%;
  height: 593px;
  float: left;
  margin-top: 20px;
}

.works .container .work-three span {
  width: 100%;
  height: 30px;
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
}

.works .container .work-three span a {
  text-decoration: none;
  color: #000000;
}

.works .container .work-three img {
  width: 630px;
  height: 408px;
  padding-left: 218px;
  padding-right: 218px;
  margin-top: 20px;
}

.works .container .work-three .desc-three {
  width: 100%;
  height: 115px;
  float: left;
}

.works .container .work-three .desc-three p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .work-three .desc-three p.p2 {
  margin-top: 15px !important;
}

.works .container .work-three .desc-three p:first-letter {
  margin-left: 20px;
}

.works .container .work-four {
  width: 100%;
  height: 593px;
  float: left;
  margin-top: 20px;
}

.works .container .work-four span {
  width: 100%;
  height: 30px;
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
}

.works .container .work-four span a {
  text-decoration: none;
  color: #000000;
}

.works .container .work-four img {
  width: 630px;
  height: 408px;
  padding-left: 218px;
  padding-right: 218px;
  margin-top: 20px;
}

.works .container .work-four .desc-four {
  width: 100%;
  height: 115px;
  float: left;
}

.works .container .work-four .desc-four p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .work-four .desc-four p.p2 {
  margin-top: 15px !important;
}

.works .container .work-four .desc-four p:first-letter {
  margin-left: 20px;
}


.works .container .work-five {
  width: 100%;
  height: 593px;
  float: left;
  margin-top: 20px;
}

.works .container .work-five span {
  width: 100%;
  height: 30px;
  float: left;
  font-family: Montserrat-Regular;
  font-size: 25px;
}

.works .container .work-five span a {
  text-decoration: none;
  color: #000000;
}

.works .container .work-five img {
  width: 630px;
  height: 408px;
  padding-left: 218px;
  padding-right: 218px;
  margin-top: 20px;
}

.works .container .work-five .desc-five {
  width: 100%;
  height: 115px;
  float: left;
}

.works .container .work-five .desc-five p {
  font-family: OpenSans-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .work-five .desc-five p.p2 {
  margin-top: 15px !important;
}

.works .container .work-five .desc-five p:first-letter {
  margin-left: 20px;
}

.works .container .share {
  width: 100%;
  height: 56px;
  float: left;
}

.works .container .share span {
  width: 100%;
  height: 20px;
  font-family: Montserrat-Regular;
  font-size: 17px;
  float: left;
  color: #000000;
}

.works .container .share .img-share {
  width: 92px;
  height: 26px;
  float: left;
  margin-top: 12px;
}

.works .container .share .img-share img:nth-child(1),
.works .container .share .img-share img:nth-child(2),
.works .container .share .img-share img:nth-child(3) {
  width: 24px;
  height: 24px;
  float: left;
}

.works .container .share .img-share img:nth-child(2),
.works .container .share .img-share img:nth-child(3) {
  margin-left: 10px;
}

footer {
  width: 100vw;
  height: 213px;
  background: #073C64;
  position: relative;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

footer .container-two {
  max-width: 1066px;
  margin: 0 auto;
}

footer .container-two .copyright {
  width: 300px;
  height: 140px;
  float: left;
}

footer .container-two .copyright .logo-footer {
  width: 100%;
  height: 26px;
}
footer .container-two .copyright .logo-footer img {
  float: left;
}

footer .container-two .copyright .logo-footer span {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 5px;
  padding-top: 3px;
  float: left;
}

footer .container-two .copyright .c-bottom p {
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #DEDEDE;
  padding-top: 10px;
  width: unset;
  height: 100px;
}

footer .container-two .copyright .c-bottom span {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 40px;
  width: unset;
  height: unset;
}

footer .container-two .footer-menu {
  width: 1066px;
  height: 135px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
}

footer .container-two .footer-menu .menu {
  width: 107px;
  height: 111px;
  float: left !important;
  padding-left: 30px;
}

footer .container-two .footer-menu .menu li {
  color: #FFFFFF;
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .menu li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .menu li.span-footer {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .menu li.span-footer a {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  text-decoration: none;
}

footer .container-two .footer-menu .menu li.span-footer:nth-child(1) {
  padding-top: 5px;
}

footer .container-two .footer-menu .contact {
  width: 107px;
  height: 111px;
  float: left;
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

footer .container-two .footer-menu .contact li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .contact li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .contact li:nth-child(2),
footer .container-two .footer-menu .contact li:nth-child(3) {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .followers {
  width: 70px;
  height: 30px;
  float: left;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

footer .container-two .footer-menu .followers li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .followers li:nth-child(1) {
  font-size: 16px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .followers li:nth-child(2),
footer .container-two .footer-menu .followers li:nth-child(3),
footer .container-two .footer-menu .followers li:nth-child(4) {
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #DEDEDE;
  padding-top: 4px;
}

footer .container-two .footer-menu .notive {
  width: 298px;
  height: 120px;
  float: right;
}

footer .container-two .footer-menu .notive li {
  list-style: none;
  cursor: pointer;
}

footer .container-two .footer-menu .notive li:nth-child(1) {
  font-size: 15px;
  font-family: Montserrat-Regular;
  color: #FFFFFF;
}

footer .container-two .footer-menu .notive li:nth-child(2) {
  width: 297px;
  height: 44px;
  margin-top: 9.6px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

footer .container-two .footer-menu .notive li:nth-child(2) input {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 11px;
  padding-right: 115px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #CECECE;
  outline: none;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-webkit-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-ms-input-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive li:nth-child(2) input::-moz-placeholder {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #CECECE;
}

footer .container-two .footer-menu .notive .btn-notive {
  width: 87px;
  height: 30px;
  background: #056D8B;
  margin-top: 12px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 1s;
  transition: 1s;
}

footer .container-two .footer-menu .notive .btn-notive span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  position: absolute;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

footer .container-two .footer-menu .notive .btn-notive span a {
  font-family: OpenSans-Semibold;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}


.navbar-responsive.actived{
  right: 0;
  transition: .3s ease;
  display: none;

}

.navbar-responsive{
  position: fixed;
  width: 70%;
  transition: .3s ease;
  right: -100%;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: #ffffff;
  box-sizing: border-box; 
  color: #ffffff;
  display: none;
}
section {
  display: none;
}
.ims {
  display: none;
}

.btn-register-xs {
  display: none;
}